PORT=""
JWT_SECRET=""
DATABASE_URL=""
PLATFORM_CHARGE=""
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_PHONE=""
ADMIN_FULL_NAME=""
MSG91_API_KEY=""
MSG91_BASE_URL=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
AWS_S3_BUCKET_NAME=""
NODE_ENV=""